[Unit]
Description=React App sample

[Service]
Type=simple
ExecStart=/usr/bin/npm start
WorkingDirectory=/app/react

[Install]
WantedBy=sysinit.target


